default_tags = {
  Organization = "Pokeverse"
  Service      = "Pokedex"
  Terraform    = true
}
function_name           = "Pokedex-Service"
function_runtime        = "python3.9"
handler                 = "app.main.handler"
memory                  = 1024
output_path             = "build.zip"
region                  = "ap-south-1"
source_code_path        = "../app/"
timeout                 = 6
mongodb_private_key     = "{private_key}"
mongodb_public_key      = "{public_key}"
mongodb_project_name    = "Pokeverse-Dev"
mongodb_cluster_name    = "Pokedex"
mongodb_username        = "pokeuser"
